:root {
  --color-black: #000000;
  --color-dark-grey: #D9D9D9;
  --color-white: #FFFFFF;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: var(--color-black);
  background-color: var(--color-white);
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}
